snippet link
	[${1}](#${2})

snippet url
	[${1}](https://${2})

snippet linkfoot
	[${1}][${2}]
	[${2}]: ${3}

snippet urlfoot
	[${1}][${2}]
	[${2}]: https://${3}

snippet img
	![${1}](${2} "${3}")

snippet table2
	| ${1} | ${2} |
	| - | - |
	| ${3} | ${4} |

snippet table3
	| ${1} | ${2} | ${3} |
	| - | - | - |
	| ${4} | ${5} | ${6} |
